@charset "UTF-8";


	body{
		font-family: "Gowun Dodum", sans-serif;
		margin: 0;
   		padding: 0;
	}
	.title{
		display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        max-width: 50%; /* 수정된 부분 */
        margin: 0 auto; /* 가운데 정렬을 위해 추가 */
        margin-bottom: 20px;
        margin-top: 20px;
        color : gray;
	}
	.container {
        display: flex;
        justify-content: center;
        align-items: center;
       	height: 90vh; 
       	margin-top: 50px;
        }
    .content {
        width: 40%; /* 내용의 너비를 조절 */
        height : 90%;       
    }
    .content2 {
    	width: 30%; /* 내용의 너비를 조절 */
        height : 90%;
    }
	span{
		font-size: 20px;
		font-weight: bold;
		color: orange;
	}
	label{
		font-weight: bold;
	}
	.box{
		text-align: center;
		margin-bottom: 20px;
	}
	#calendar {
	  width: 400px;
	  height: 450px; 
	  font-weight: bold;
	  color : black;
	}
	::-webkit-scrollbar {
	    display: none; /* Safari 및 Chrome 등 Webkit 기반 브라우저 */
	}
