@charset "UTF-8";
   body {
       font-family: Arial, sans-serif;
       background-color: #f4f4f4;
       margin: 0;
       padding: 0;
   }

   .container2 {
       width: 50% !important;
       margin: 0 auto;
       padding: 20px;
       background-color: #fff;
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
       border-radius: 10px; /* 둥근 모서리 */
       
   }
   .container2 a {
       text-decoration: none;
}

   .container2 a:hover {
	   background-color: #ddd;
	   border-radius: 5px;
	   text-decoration: underline;
}

   h1 {
       text-align: center;
       color: #333;
   }

   table {
       width: 100%;
       border-collapse: collapse;
       margin: 20px 0;
       border-left:none;
       border-right:none;
   }

   th, td {
       padding: 10px;
       text-align: left;
       border: none; /* 개별 셀의 테두리 제거 */
   }
   
